wordflok/n8n Workflow Simple.txt
{
  "name": "IncaNeurobaeza - Notificaciones Multi-Canal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "incapacidades",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook Incapacidades",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 400],
      "webhookId": "incapacidades"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.tipo_notificacion}}",
              "operation": "equals",
              "value2": "confirmacion"
            }
          ]
        }
      },
      "id": "if-confirmacion",
      "name": "¿Es Confirmación?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sendTo": "={{$json.email}}",
        "subject": "✅ Confirmación Recibido - {{$json.serial}}",
        "emailType": "html",
        "message": "={{$json.html_content}}",
        "options": {
          "bccList": "xoblaxbaezaospino@gmail.com"
        }
      },
      "id": "gmail-confirmacion",
      "name": "Gmail - Confirmación",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [650, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "TU_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.tipo_notificacion}}",
              "operation": "equals",
              "value2": "incompleta"
            }
          ]
        }
      },
      "id": "if-incompleta",
      "name": "¿Es Incompleta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 600]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sendTo": "={{$json.email}}",
        "subject": "⚠️ Documentación Incompleta - {{$json.serial}}",
        "emailType": "html",
        "message": "={{$json.html_content}}",
        "options": {}
      },
      "id": "gmail-incompleta",
      "name": "Gmail - Incompleta",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [650, 600],
      "credentials": {
        "gmailOAuth2": {
          "id": "TU_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.tipo_notificacion}}",
              "operation": "equals",
              "value2": "completa"
            }
          ]
        }
      },
      "id": "if-completa",
      "name": "¿Es Completa?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 800]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sendTo": "={{$json.email}}",
        "subject": "✅ Incapacidad Validada - {{$json.serial}}",
        "emailType": "html",
        "message": "={{$json.html_content}}",
        "options": {}
      },
      "id": "gmail-completa",
      "name": "Gmail - Completa",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [650, 800],
      "credentials": {
        "gmailOAuth2": {
          "id": "TU_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Webhook Incapacidades": {
      "main": [
        [
          {
            "node": "¿Es Confirmación?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es Confirmación?": {
      "main": [
        [
          {
            "node": "Gmail - Confirmación",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "¿Es Incompleta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es Incompleta?": {
      "main": [
        [
          {
            "node": "Gmail - Incompleta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "¿Es Completa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es Completa?": {
      "main": [
        [
          {
            "node": "Gmail - Completa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}