wordflok/n8n_workflow_profesional.json
{
  "name": "IncaNeurobaeza - Notificaciones SIMPLE",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "incapacidades",
        "options": {}
      },
      "id": "webhook1",
      "name": "Webhook Incapacidades",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [400, 300],
      "webhookId": "incapacidades"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nlet cc_email = data.cc_email;\n\nif (!cc_email || cc_email === 'null' || cc_email === '' || cc_email === null) {\n  cc_email = undefined;\n} else {\n  cc_email = String(cc_email).trim();\n  if (!cc_email.includes('@') || cc_email.length < 5) {\n    cc_email = undefined;\n  }\n}\n\nreturn {\n  json: {\n    email: data.email,\n    subject: data.subject,\n    html_content: data.html_content,\n    cc_email: cc_email,\n    serial: data.serial,\n    tipo_notificacion: data.tipo_notificacion\n  }\n};"
      },
      "id": "code1",
      "name": "Limpiar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html_content }}",
        "options": {
          "bccList": "={{ $json.cc_email }}"
        }
      },
      "id": "gmail1",
      "name": "Gmail Sender",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [800, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "qL56oXHAj80g6VdY",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Incapacidades": {
      "main": [[{"node": "Limpiar Datos", "type": "main", "index": 0}]]
    },
    "Limpiar Datos": {
      "main": [[{"node": "Gmail Sender", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}